[submodule "repcut-sim/repcut"]
	path = repcut-sim/repcut
	url = https://github.com/ucsc-vama/essent
    branch = repcut
[submodule "firrtl-sig"]
	path = firrtl-sig
	url = https://github.com/ucsc-vama/firrtl-sig
[submodule "repcut-sim/kahypar"]
	path = repcut-sim/kahypar
	url = https://github.com/kahypar/kahypar
[submodule "essent-sim/essent"]
	path = essent-sim/essent
	url = https://github.com/ucsc-vama/essent
[submodule "patronus-sim/patronus"]
	path = patronus-sim/patronus
	url = https://github.com/zihan0822/rocket-chip-driver
